<div class="container">
  <h1>Gerenciador de Produtos</h1>

  <div class="card">
    <input [(ngModel)]="produtoAtual.nome" placeholder="Nome do Produto" />
    <input [(ngModel)]="produtoAtual.preco" type="number" placeholder="Preço" />
    <button (click)="salvar()">
      {{ editando ? "Atualizar" : "Cadastrar" }}
    </button>
    <button *ngIf="editando" (click)="cancelar()">Cancelar</button>
  </div>

  <ul>
    @for (p of produtos; track p.id) {
    <li>
      {{ p.nome }} - R$ {{ p.preco }}
      <button *ngIf="!editando" class="Editar" (click)="editar(p)">
        Editar
      </button>
      <button (click)="deletar(p.id!)">Excluir</button>
    </li>
    }
  </ul>
</div>
